body {
    margin: 0;
    padding: 0;
    background-color: #1440B8;
}

header h2 {
    text-align: center;
    line-height: 80px;
    color: #FB9902;
    text-shadow: 1px 1px 3px black;
    font-size: 48px;
}

#team-list {
    margin: 2rem;
}
  
div.team-card {
    background-color: #F7E9D4;
    height: 250px;
    width: 350px;
    display: inline-grid;
    box-shadow: 10px 10px #091534;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px;
}

div.team-card p {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
    text-align: center;
}
  
div.team-card li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
}

#error-message-div {
    color: red;
    padding-left: 50px;
    font-size: 1.5em;
}

.form-container {
    width: stretch;
    height: auto;
    text-align: center;
    background: #1440B8;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin: 3px;
}

button {
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 1rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
}
  
button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
}